[*.cs]

indent_style = space
indent_size = 4

csharp_new_line_before_open_brace = all

csharp_indent_block_contents = true
csharp_indent_braces = false

csharp_preserve_single_line_blocks = false
csharp_preserve_single_line_statements = false

csharp_style_allow_blank_lines_between_consecutive_braces_experimental = true
csharp_style_allow_embedded_statements_on_same_line_experimental = false
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = true
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true
